body {
    background-image: url('../Images/HobbitThing03.jpg');
    /*background-image: url('../Images/Large.jpg');*/
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#colorGradient1 {
    background-image: radial-gradient(circle farthest-side at 50% 60%, transparent, #23260C, #5D7310);
}

#colorGradient2 {
    background-image: radial-gradient(circle farthest-side at 50% 60%, transparent, #23260C, #5D7310);
}

#colorGradient3 {
    background-image: radial-gradient(circle farthest-side at 50% 60%, transparent, #23260C, #5D7310);
}

nav ul li a {
    padding: .1em 1em;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: block;
}

nav ul li {
    display: inline-block;
}

nav {
    border: double;
    height: 50px;
    width: 99.8%;
    margin-right: 0;
    color: white;
}

a:hover {
    background-color: black;
    display: block;
    color: White;
    background-size: cover;
}

header {
    border: double;
    width: 99.8%;
    margin-right: 0;
    background-size: cover;
    margin: 0;
    height: 100px;
    color: white;
}

    header h1, header p {
        margin: 15px 0 8px 120px;
        text-align: left;
    }

    header p {
        font-style: italic;
    }

footer {
    vertical-align: bottom;
    margin-top: -50px;
    bottom: 0;
    width: 98.85%;
    position: fixed;
    text-align: left;
}

main {
    border: double;
    background-color: rgba(152,161,168, .8);
    height: 120em;
    width: 99.8%;
    color: white;
    background-size: cover;
}

header img {
    float: left;
    margin: 1em;
    border: double;
    border-color: black;
}

section h1 {
    color: black;
    font-size: 22pt;
}

article h3 {
    color: black;
    font-size: 20pt;
}

main section p {
    font-size: 18pt;
}

.contactPosition {
    text-align: center;
}

main aside img {
    margin-left: 20px;
    margin-top: 8px;
    margin-right: 20px;
}

main section h1 {
    text-align: center;
    font-size: 40px;
    border: double;
    padding: 1%;
    border-color: white;
}

main section h2 {
    color: black;
}

main section div img {
    margin-left: 20px;
    margin-right: 40px;
}

main section div article p {
    font-size: 20pt;
}

div article h3 {
    text-align: left;
}

#pointTwo {
    margin-left: 20px;
}

.row {
    align-content: center;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.sectionRow {
    align-content: space-between;
}

.gallery {
    display: inline-block;
    border: double;
    vertical-align: top;
    width: 30%;
    padding: 1%;
    height: 550px;
}

.topRow {
    width: 100%;
    height: auto;
    align-content: center;
    margin-left: 0%;
}

.bottomRow {
    width: 100%;
    height: auto;
    align-content: center;
    margin-left: 0%;
}

main h1 {
    text-align: center;
    color: black;
}

main div article h3 {
    text-align: center;
}

main div article p {
    text-align: center;
}

#leftSide {
    float: left;
    width: 80%;
}

.aside {
    position: sticky !important;
    top: 0;
    float: right;
    width: 19.59%;
    border: double;
    vertical-align: top;
    height: 735px;
    font-size: 20pt;
}

aside section h3 {
    color: black;
}

main aside section h3 {
    margin-left: 10%;
}

main div div section h2 {
    text-align: left;
}

main div div section p {
    text-align: left;
}

.team {
    display: inline-block;
    border: double;
    padding: 1%;
}

main section article p {
    font-size: 14pt;
}

main div div article p {
    font-size: 13pt;
}

.table {
    color: black;
    font-size: 15pt;
    margin-left: 38%;
}

table, th, td {
    border: 5px double;
    align-content: center;
    color: black;
}

/*body div a {
    font-size: 16px;*/
    /*display: flex;*/       
    /*background: white;
    color: white;
    line-height: 1;
    margin-left: 50%;
    border-radius: 50%;
    border-color: white;
    width: 40px;
    height: 40px;*/
    /*display: flex;*/
}

/*header .socialIcons {
    display: flex;
}*/

/*#header .socialIcons{
    display: flex; 
    border: white;
}*/

.hover{
    border: double;
    height: 550px;
}
